.content {
  display: flex;
}

.content-principle {
  flex-grow: 3;
}
:root {
  --primary: #58a4b0;
  --secundary: #373f51;
  --secundary-active: #cccccc;
  --background: #ffffff;
  --background-details: #ececec;
}
